*
{
    margin: 0%;
    padding: 0%;
    font-family: cursive;
}

body
{
    background-color: rgb(217, 222, 226);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading
{
    text-align: center;
    padding: 10px;
    font-size: 28px;
    color: red;
}


.frame
{
    height: 600px;
    width: 460px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px #68cdca,-5px -5px 10px white;
    justify-content: center;
}

.details
{
    height: 500px;
    width: 460px;
    text-align: center;
}

#username
{
    height: 20px;
    width: 60%;
    padding: 10px;
    background-color: #94b1b0;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    

}

#password
{
    height: 20px;
    width: 60%;
    padding: 10px;
    background-color: #94b1b0;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    

}
